# Language definitions for GitHub
*.py linguist-language=Python
*.cpp linguist-language=C++
*.exe linguist-language=C++
*.html linguist-language=HTML
*.css linguist-language=CSS
*.php linguist-language=PHP
*.js linguist-language=JavaScript
*.ipynb linguist-language=Jupyter\ Notebook

# Media files
*.mp3 linguist-vendored
*.mp4 linguist-vendored
*.sfk linguist-vendored
*.psd linguist-vendored
*.ai linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gif linguist-vendored
*.avif linguist-vendored

# Document files
*.pdf linguist-vendored
*.docx linguist-vendored

# Backup/temp files
*.bak linguist-vendored
*.tmp linguist-vendored
